<div class="bodyContainer">
	{{> leftNav}}

<script>
var downloadURL = "";

require([
	"dojo/parser",
    "dojo/dom",
	"dojo/dom-class",
	"dojo/on",
	"dojo/domReady!"
],
function(parser, dom, domClass, on) {
	renderReport(false);
	
	parser.parse();
	
	on(window, "resize", function() {
		var grid = dijit.byId("gridReport");
		grid.resize();
	});
});

function showReportList() {
	window.location = "analytics";
}

function renderReport(refresh) {
	require([
		"dojo/dom",
		"dojo/dom-form",
		"dojo/dom-construct",
		"dojo/topic",
		"dojo/request",
		"dojo/DeferredList",
		"dojox/grid/EnhancedGrid",
		"dojox/grid/enhanced/plugins/Pagination",
		"dojo/data/ItemFileWriteStore"
	],
	function (dom, domForm, domConstruct, topic, request,
			  DeferredList, EnhancedGrid, GridPagination, ItemFileWriteStore) {
		var limit = domForm.fieldToObject("limit");
		var startDate = domForm.fieldToObject("startDate");
		var endDate = domForm.fieldToObject("endDate");
		var collection = domForm.fieldToObject("collection");
        var position = domForm.fieldToObject("position");
		var options = {
			method: "GET",
			handleAs: "json"
		};

		var url = "hub/api/analytics/dynamicconfidence/buzzin?" +
				  "collection=" + collection +
                  "&position=" + position;
        if (startDate || endDate) {
            url += "&start=" + startDate +
                    "&end=" + endDate;
        } else {
            url += "&limit=" + limit;
        }
        downloadURL = url + "&output=txt";
        url += "&output=json";
		
		//hideAllCalendars();
		showProgressBar();
		var deferred = request(url, options);
		deferred.then(function(results) {
			var gdata = {
				identifier: 'id',
				items: null
			};
            var tableData = [];
			var chartData = [];
			var count = 0;
			results.data.forEach(function(row) {
                var chartRow = [row.timestamp, row.confidence_med, row.buzzin_rate, results.target_rate];
                chartData.push(chartRow);
                var tableRow = {
                    id: count,
                    timestamp: row.timestamp,
                    ticket_id: row.ticket_id,
                    tr_id: row.tr_id,
                    log_id: row.log_id,
                    confidence: row.confidence_med,
                    answer_score: row.answer_score,
                    ticket_updated: row.ticket_updated,
                    buzzin_rate: row.buzzin_rate,
                    target_rate: results.target_rate
                };
                tableData.push(tableRow);
				count++;
			});
			gdata.items = tableData;
			
			if (!refresh) {
				var store = new ItemFileWriteStore({data: gdata});
					
				var layout = [[
                    {'name': 'Timestamp', 'field': 'timestamp', 'width': '20%', noresize: true},
					{'name': 'Ticket ID', 'field': 'ticket_id', 'width': '20%', noresize: true},
                    {'name': 'Confidence', 'field': 'confidence', 'width': '15%', noresize: true},
                    {'name': 'Answer Score', 'field': 'answer_score', 'width': '15%', noresize: true},
                    {'name': 'Ticket Updated', 'field': 'ticket_updated', 'width': '10%', noresize: true},
                    {'name': 'Buzz-in Rate', 'field': 'buzzin_rate', 'width': '10%', noresize: true},
                    {'name': 'Target Rate', 'field': 'target_rate', 'width': '10%', noresize: true}
				]];
					
				var grid = new dojox.grid.EnhancedGrid({
					id: 'gridReport',
					store: store,
					structure: layout,
					rowSelector: '20px',
					autoHeight: true,
					selectable: true,
					plugins: {
						pagination: {
							defaultPageSize: 20,
							pageSizes: ["20", "50", "100", "500", "1000"],
							description: true,
							sizeSwitch: true,
							pageStepper: true,
							gotoButton: true,
							/*page step to be displayed*/
							maxPageStep: 5,
							/*position of the pagination bar*/
							position: "top"
						}
					}
				}, document.createElement('div'));
				
				dom.byId("gridReportDiv").appendChild(grid.domNode);
					
				grid.startup();
				hideProgressBar();
			} else {
				var newStore = new ItemFileWriteStore({data: gdata});
				var grid = dijit.byId("gridReport");
				grid.setStore(newStore);
				hideProgressBar();
			}

            renderLineChart(chartData.reverse());
		}, function(err){
			hideProgressBar();
			console.log("modifiedTicketsProcessedDetails: renderReport() - An unexpected error occurred: " + err);
		});
	});
}

function downloadReport() {
	require([
		"dojo/dom",
		"dojo/dom-construct",
		"scripts/utils/JSUtil"
	],
	function(dom, domConstruct, JSUtil) {
		var divDownloadReportLink = dom.byId("downloadReportLink");
		domConstruct.empty(divDownloadReportLink);
		domConstruct.create("a", { id: "downloadLink", href: downloadURL, download: "report.txt", innerHTML: "link", style: "visibility:hidden" }, divDownloadReportLink);
		var downloadLink = dom.byId("downloadLink");
		downloadLink.click();
	});
}

function showProgressBar() {
	require([
		"dojo/dom",
		"dojo/dom-class",
		"dojo/dom-style"
	],
	function(dom, domClass, domStyle) {
		var progressBar = dom.byId("refreshProgress");
		var btnRefresh = dom.byId("btnRefresh");
		var gridDiv = dom.byId("gridReportDiv");
		domClass.remove(progressBar, "hidden");
		domStyle.set(gridDiv, "opacity", "0.5");
		btnRefresh.removeAttribute("onclick");
		domClass.remove(btnRefresh, "logBtnRefresh");
		domClass.add(btnRefresh, "logBtnRefreshDisabled");
	});
}

function hideProgressBar() {
	require([
		"dojo/dom",
		"dojo/dom-class",
		"dojo/dom-style"
	],
	function(dom, domClass, domStyle) {
		var progressBar = dom.byId("refreshProgress");
		var gridDiv = dom.byId("gridReportDiv");
		var btnRefresh = dom.byId("btnRefresh");
		domClass.add(progressBar, "hidden");
		domStyle.set(gridDiv, "opacity", "1.0");
		btnRefresh.setAttribute("onclick", "renderReport(true)");
		domClass.remove(btnRefresh, "logBtnRefreshDisabled");
		domClass.add(btnRefresh, "logBtnRefresh");
	});
}

function showCalendar(calendar) {
	require([
		"dojo/dom",
		"dojo/dom-class"
	],
	function(dom, domClass) {
		var calendarDiv = dom.byId(calendar);
		domClass.remove(calendarDiv, "hidden");
		domClass.add(calendarDiv, "datePickerContainer");
	});
}

function hideCalendar(calendar) {
	require([
		"dojo/dom",
		"dojo/dom-class"
	],
	function(dom, domClass) {
		var calendarDiv = dom.byId(calendar);
		domClass.remove(calendarDiv, "datePickerContainer");
		domClass.add(calendarDiv, "hidden");
	});
}

function hideAllCalendars() {
	require([
		"dojo/dom",
		"dojo/dom-class"
	],
	function(dom, domClass) {
		var calendarStartDateDiv = dom.byId("startDateCalendar");
		domClass.remove(calendarStartDateDiv, "datePickerContainer");
		domClass.add(calendarStartDateDiv, "hidden");
		
		var calendarEndDateDiv = dom.byId("endDateCalendar");
		domClass.remove(calendarEndDateDiv, "datePickerContainer");
		domClass.add(calendarEndDateDiv, "hidden");
	});
}
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
google.charts.load('current', {packages: ['corechart', 'line']});
function renderLineChart(data) {
    var reportData = [['Timestamp', 'Confidence', 'Buzz-in Rate', 'Target Rate']];
    reportData = reportData.concat(data);
    var chartData = google.visualization.arrayToDataTable(reportData);

    var options = {
        height: 400,
        width: '100%',
        hAxis: {
            title: 'Timestamp'
        },
        vAxis: {
            title: ''
        }
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart'));

    chart.draw(chartData, options);
}
</script>

	<div id="content" class="contentBase">
		<div class="tabs">
			<div class="tabSpacer"></div>
			<div id="tabSelectReportAttachPoint" class="tab" onclick="showReportList();"><div id="tabSelectReportTextAttachPoint" class="tabText">Select Report</div></div>
			<div id="tabDividerAttachPoint" class="tabDivider"></div>
			<div id="tabReportAttachPoint" class="tabOn"><div id="tabReportNameAttachPoint" class="tabTextStatic">Dynamic Confidence Buzz In</div></div>
		</div>
		<div id="viewReportListAttachPoint" class="contentArea">
			<div id="reportFiltersAttachPoint" class="filters">
				<form id="filtersForm" onkeydown="if (event.keyCode == 13) { renderReport(true); return false; }">
				<div class="logFiltersText">Last </div>
				<input id="limit" name="limit" class="filtersNumberField" type="text" value="100"/>
                <div class="filtersText">Type</div>
                <select id="collection" name="collection" class="filtersSelectField" style="width: 120px" onchange="renderReport(true);">
                    <option value="SL">Spotlight</option>
                    <option value="BL">Baseline</option>
                    <option value="HW">Hardware</option>
                </select>
                <div class="filtersText">Position</div>
                <select id="position" name="position" class="filtersSelectField" style="width: 120px" onchange="renderReport(true);">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
				<!--<div class="logFiltersText">-OR-</div>
				<div class="logFiltersSpacer"></div>
				<div class="logFiltersText">Start Date</div>
				<div class="dateFieldContainer">
					<input id="startDate" name="startDate" class="formDateField" type="text" onclick="showCalendar('startDateCalendar');" onchange="hideCalendar('startDateCalendar');" />
					<div id="startDateCalendar" class="hidden" data-dojo-type="dijit/Calendar" data-dojo-props="dayWidth:'abbr'">
						<script type="dojo/method" data-dojo-event="onChange" data-dojo-args="value">
							require(["dojo/dom"], function(dom){
								var newDate = new Date(value);
								var newDateStr = newDate.toISOString();
								newDateStr = newDateStr.replace(newDateStr.substring(newDateStr.indexOf("T")), "T00:00:00.000Z");
								dom.byId('startDate').value = newDateStr;
								hideCalendar("startDateCalendar");
							});
						</script>
					</div>
				</div>
				<div class="logFiltersText">End Date</div>
				<div class="dateFieldContainer">
					<input id="endDate" name="endDate" class="formDateField" type="text" onfocus="showCalendar('endDateCalendar');" onchange="hideCalendar('endDateCalendar');"/>
					<div id="endDateCalendar" class="hidden" data-dojo-type="dijit/Calendar" data-dojo-props="dayWidth:'abbr'">
						<script type="dojo/method" data-dojo-event="onChange" data-dojo-args="value">
							require(["dojo/dom"], function(dom){
								var newDate = new Date(value);
								var newDateStr = newDate.toISOString();
								newDateStr = newDateStr.replace(newDateStr.substring(newDateStr.indexOf("T")), "T00:00:00.000Z");
								dom.byId('endDate').value = newDateStr;
								hideCalendar("endDateCalendar");
							});
						</script>
					</div>
				</div>-->
                <button id="btnRefresh" class="logBtnRefresh" type="button" onclick="renderReport(true);"></button>
                <div id="refreshProgress" class="progressIndicator hidden"></div>
				<button class="btnDownload" type="button" onclick="downloadReport();"></button>
				</form>
			</div>
			<!--<div class="filters">

			</div>-->
            <div id="chart" class="chartArea"></div>
			<div class="gridArea">
				<div id="gridReportDiv" style="width:100%;"></div>
			</div>
			<div id="downloadReportLink"></div>
		</div>
	</div>
</div>
