<!DOCTYPE html>
<html>
<head>
	<title>Agent Watson</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	
	<!-- prevent cache -->
	<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="pragma" content="no-cache">
	
	<link href="//1.www.s81c.com/common/js/dojo/1.8/dijit/themes/tundra/tundra.css" rel="stylesheet" title="www" type="text/css" />
	<style type="text/css">
		@import url("//1.www.s81c.com/common/js/dojo/1.8/dojox/grid/enhanced/resources/tundra/EnhancedGrid.css");
		@import url("//1.www.s81c.com/common/js/dojo/1.8/dojox/grid/enhanced/resources/EnhancedGrid.css");
		@import "style/style.css";
		@import "style/editor.css";
	</style>
	
	<script type="text/javascript">   
		var dojoConfig = {
			parseOnLoad: true,
			paths: {
				"scripts":"{{proxyPath}}/scripts"
			}
		};
	</script>
	<script src="scripts/lib/aceNoConflict/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="//1.www.s81c.com/common/js/dojo/1.8/www.js" type="text/javascript">//</script>
</head>

<body class="tundra">
{{{body}}}
</body>

</html>